<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Zip-code</th>
        <th scope="col">Company</th>
        <th scope="col">Company description</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.city %></td>
        <td><%= user.zip_code %></td>
        <td><%= user.company %></td>
        <td><%= user.company_description %></td>
        <td><%= link_to 'Show', user, class:"badge badge-secondary"%></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"badge badge-info"%></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"badge badge-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
